@model IEnumerable<HiringFair.Models.EmployerListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Company</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLocation)
        </td>
        <td>
            @Html.ActionLink("Add Job", "Create", "Job")|
            @Html.ActionLink("Edit", "Edit", new { id = item.EmployerId }) |
            @Html.ActionLink("Detail", "Detail", new { id = item.EmployerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployerId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
